.grass
{
    background: url('../img/grass_sprite.png') repeat-y 0 0;
}

.size0
{
    background-position: 0 0;
}

.size1
{
    background-position: 0 -200px;
}

.size2
{
    background-position: 0 -400px;
}

.size3
{
    background-position: 0 -600px;
}

.size4
{
    background-position: 0 -800px;
}