.hunter
{
    background: url('../img/hunter_sprite.png') repeat-y 0 0;
    background-size: 100% 400%;
    width: 40%;
    height: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.hunter.size0
{
    background-position: 0 0;
}

.hunter.size1
{
    background-position: 0 33%;
}

.hunter.size2
{
    background-position: 0 66.6%;
}

.hunter.size3
{
    background-position: 0 100%;
}