.rabbit
{
    background: url('../img/rabbit_sprite.png') repeat-y 0 0;
    background-size: 100% 400%;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.rabbit.size0
{
    background-position: 0 0;
}

.rabbit.size1
{
    background-position: 0 33%;
}

.rabbit.size2
{
    background-position: 0 66.6%;
}

.rabbit.size3
{
    background-position: 0 100%;
}