.rabbit
{
    /*background: url('../img/grass_sprite.png') repeat-y 0 0;*/
    background: red;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.rabbit.size0
{
    /*background-position: 0 0;*/
    opacity: 0;
}

.rabbit.size1
{
    /*background-position: 0 -200px;*/
    opacity: 0.5;
}

.rabbit.size2
{
    /*background-position: 0 -400px;*/
    opacity: 0.7;
}

.rabbit.size3
{
    /*background-position: 0 -600px;*/
    opacity: 1;
}