.rain
{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/rain_sprite.png') no-repeat 0 0;
    background-size: 100% 400%;
}

.rain.size0
{
    background-position: 0 0;
}

.rain.size1
{
    background-position: 0 33%;
}

.rain.size2
{
    background-position: 0 66%;
}

.rain.size3
{
    background-position: 0 100%;
}